h1 {
  color: #FA6985;
}
h2,h3,h4,h5,h6 {
  color: #2A3A5C;
}
a {
  text-align: center;
  display: inline-block;
  color: #F74568;
  }
input {
  min-width: 250px;
}
label {
  margin-right: 5px;
}
p {
  text-align: justify;
  display: block;
}
.CitySearch {
  margin: 10px;
  min-height: 60px;
  display: inline-block;
  flex-direction: column;
  flex-basis: 300px;
  max-width: 300px;
  align-items: center;
  justify-content: center;
}
.NumberOfEvents {
  margin: 10px;
  min-height: 60px;
  display: inline-block;
  flex-direction: column;
  flex-basis: 300px;
  max-width: 300px;
  align-items: center;
  justify-content: center;
}
.WelcomeScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #fff;
  }
  .login-button {
  color: #405074;
  text-transform: uppercase;
  text-decoration: none;
  background: #fff;
  border: 4px solid #FA6985;
  display: inline-block;
  transition: all 0.4s ease 0s;
  min-width: 10rem;
  padding: 10px;
  margin: 10px;
  border-radius: 30px;
  }
  .google-btn {
  width: 184px;
  height: 42px;
  margin: 1rem;
  background-color: transparent;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  }
  .google-btn:hover {
  box-shadow: 0 0 6px #fff;
  }
  .google-btn:active {
    background: #fff;
    }
    .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background-color: #fff;
     }
    .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: -8px;
    width: 18px;
    height: 18px;
    }
    .btn-text {
    color: #fff;
    font-size: 14px;
    font-family: "Roboto";
    background: #405074;
    width: 80%;
    height: 100%;
    text-align: center;
    margin: 0px;
    border-radius: 6px;
    }

    .details-btn {
    color: #405074;
    text-decoration: none;
    background: #fff;
    border: 2px solid #FA6985;
    transition: all 0.4s ease 0s;
    min-width: 6rem;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    display: block;
    }